{
  "root": true,
  "env": {
    "browser": true,
    "es2020": true
  },
    "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended",
    "plugin:import/typescript",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "plugins": ["react-refresh", "import"],
  "ignorePatterns": [
    "dist",
    ".eslintrc.cjs"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react-refresh/only-export-components": [
      "warn",
      {
        "allowConstantExport": true
      }
    ],
    "import/no-unresolved": "error",
    "import/order": ["error", {
      "alphabetize": { "order": "asc", "caseInsensitive": true },
      "newlines-between": "always"
    }]
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "."
      }
    },
    "import/order": ["error", {
      "groups": ["builtin", "external", "parent", "sibling", "index"],
      "newlines-between": "always-and-inside-groups",
      "alphabetize": { "order": "asc", "caseInsensitive": true }
    }]
  }
}
